.box {
    position: relative;
    width: 500px;
    height: 500px;
    border: 5px solid;
    background-color: #e7caab;
}
.block {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff7100;
}